/*Скидання стилів*/
@import url("reset.css");


/* Підключення з Google Fonts */

@import url('https://fonts.googleapis.com/css?family=Inter:regular&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:700&display=swap');
@import url('https://fonts.googleapis.com/css?family=DM+Serif+Text:regular&display=swap');



/* =======Підключення шрифтів вручну======= */
@import url("fonts.css");




/* ==============Основні Стилі============== */
body {
	padding: 0px 20px;
	font-family: 'Inter';
}

/*
/* block 1 */
.block-img img {
	margin-bottom: 37px;
	max-width: 100%;
}


/* block 2 */
.block-title {
	font-size: 30px;
	font-family: 'Poppins';
	font-weight: 700;
	line-height: 127%;
	color: #37393F;
	text-transform: capitalize;
	margin-bottom: 3px;
}

.block-sub-title {
	font-size: 18px;
	line-height: 146%;
	color: #7D7D7D;
	margin-bottom: 42px;
}

.block-title-too {
	font-size: 20px;
	font-family: 'Poppins';
	font-weight: 600;
	line-height: 127%;
	color: #6B77E5;
	margin-bottom: 12px;
}

.block-sub-title-too {
	font-size: 18px;
	line-height: 146%;
	color: #7D7D7D;
	margin-bottom: 40px;
}


/* block 3 */
.block-big {
	max-width: 692px;
	font-size: 0px;
	/* прибираємо відступ між блоками */
}

/* -- */
.block-big-foto {
	max-width: 331px;
	display: inline-block;
	margin-right: 29px;
}

/* -- */
.block-big-text {
	max-width: 332px;
	display: inline-block;
	vertical-align: top;
}

.block-big-title {
	margin-bottom: 15px;
	font-size: 25px;
	font-family: 'Poppins';
	font-weight: 700;
	line-height: 127%;
	color: #37393F;
}

.block-big-sub-title {
	margin-bottom: 21px;
	font-size: 20px;
	font-family: 'Poppins';
	font-weight: 700;
	line-height: 127%;
	color: #40DDB6;
}

.link {
	margin-bottom: 30px;
	font-size: 18px;
	color: #7D7D7D;
}

/* block 4 */
.block-decore {
	max-width: 1169px;
	margin: 0 auto;
	/* прибираємо відступ між блоками */
	font-size: 0;
	padding-top: 140px;

}

/* -- */
.block-decore-left {
	display: inline-block;
	vertical-align: middle;
	margin-right: 38px;
	max-width: 563px;
}

.block-decore-left-title {
	font-family: 'DM Serif Text';
	font-size: 59px;
	font-weight: 400;
	line-height: 146%;
	color: #0E333D;
}

.block-decore-left-sub-title {
	font-size: 20px;
	line-height: 180%;
	color: #474747;
}

/* -- */
.block-decore-right {
	display: inline-block;
	vertical-align: middle;
	max-width: 568px;
}

.block-decore-right-img02 {
	margin-right: 22px;
	/* а тут ми їх робимо - відступ між блоками */
}

.block-decore-right-img02 img {
	max-width: 100%;
}


/* block 5 */
.block-multi {
	padding-top: 80px;
	margin: 0px 20px 0px 20px;
	max-width: 1280px;
	margin: auto;
}

.block-multi-title span {
	color: rgb(252, 24, 233);
	font-style: italic;
}

.block-multi-sub-title span {
	color: rgb(252, 24, 233);
	font-style: italic;
}

.block-multi-sub-title mark {
	color: rgb(0, 211, 14);
	font-style: italic;
	text-decoration: underline;
}

.block-multi h2 {
	margin-bottom: 30px;
	text-align: center;
	font-family: '6358-fontps';
	font-size: 40px;
	color: #081ff1;
	text-shadow: 5px 0px 2px rgb(177, 177, 177);
}

.block-multi-text {
	line-height: 146%;
	font-size: 25px;
	max-width: 700px;
	display: inline-block;
	vertical-align: middle;
	margin-bottom: 20px;

}

.block-multi-img {
	display: inline-block;
	vertical-align: middle;
	max-width: 400px;
}

.block-multi-img img {
	max-width: 100%;
}

.block-multi-img-a {
	margin-right: 30px;
}

.block-multi-img-b {
	margin-left: 5px;
}

.block-multi-title {
	font-family: '6358-fontps';
	color: #4b4d5f;
	margin-bottom: 30px;
}

.block-multi-sub-title {
	font-family: '6358-fontps';
	color: #4b4d5f;
	max-height: 100px;
	overflow: scroll;
}


/* block 6 */
.block-multi-b {
	padding: 50px 20px 0px 20px;
}

.block-multi-b-text {
	color: #767877;
	text-transform: capitalize;
	font-weight: 900;
	font-size: 18px;
	max-width: 950px;
	margin: 0 auto;
	line-height: 155%;
	text-align: center;
	margin-bottom: 30px;
}

.block-multi-b-text span {
	color: #40DDB6;
	text-decoration: underline;
}

.block-multi-b h2 {
	margin-bottom: 30px;
	font-family: '4649-font';
	text-align: center;
	font-size: 25px;
	color: #081ff1;
	text-shadow: 5px 0px 2px rgb(177, 177, 177);
}

.block-multi-b-img {
	text-align: center;
	margin-bottom: 20px;
}

.block-multi-b-img img {
	max-width: 100%;
}

.block-multi-line {
	margin-right: 10px;
	margin-bottom: 10px;
}

/* footer */
.footer {
	display: inline-block;
	margin-bottom: 30px;
	line-height: 140%;
}

footer ul li mark {
	color: #40DDB6;
}

footer ul li span {
	color: #1a06fb;
}

footer ul li img {
	margin-left: 15px;
}